#CampaignDifficultyRoot { width: 100%; height: 100%; }
.CampaignDifficultyModal { width: 100%; height: 100%; background-color: #050910ee; }
.CampaignDifficultyCard { width: 660px; padding: 28px; horizontal-align: center; vertical-align: center; background-color: #14202dfd; border: 1px solid #667d91; }
.CampaignDifficultyChoices { flow-children: right; width: 100%; }
.CampaignDifficultyButton { width: fill-parent-flow(1); height: 100px; margin: 0px 8px; background-color: #293949; border: 1px solid #647484; transition-property: brightness, background-color, border; transition-duration: 0.15s; }
.CampaignDifficultyButton Label { horizontal-align: center; vertical-align: center; color: #eed7a2; font-size: 28px; }
.CampaignDifficultyButton:hover { brightness: 1.4; border-color: #e2bc70; background-color: #394957; }
.CampaignDifficultyButton:disabled { opacity: 0.45; }
